footer {
    background: #111;
    color: white;
    padding: 5vh 0 0;
}

footer .container {
    display: grid;
    gap: 150px;  
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 7vh;
}

footer .container .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

footer .container .contact div {
    display: flex;
    align-items: center;
    gap: 30px
}

footer .container .contact a {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    text-decoration: none;
    opacity: .8;
    transition: .4s;
    height: 60px;
    aspect-ratio: 1 / 1;
}

footer .container .contact a:hover {
    opacity: 1;
}

footer .container .contact a img {
    width: 100%;
    height: 100%
}

footer .container .contact p {
    font-size: 25px;
    font-weight: 500;
}

footer .container .inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
}

footer .container .inputs > * {
    width: 440px;
    font-size: 24px;
    padding: 15px;
}

footer .container .inputs textarea {
    height: 220px;
}

footer .container .inputs button:hover {
    background: white;
    color: black
}

footer .copyright {
    text-align: center;
    line-height: 50px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    background: #29a9df;
}

@media screen and (max-width: 1000px) {
    footer .container {
        grid-template-columns: 1fr;
        gap: 70px;
    }
    footer .container > * {
        align-items: center !important;
    }

    footer .container .inputs > * {
        width: 60%;
    }

    footer .container .contact > * {
        width: 60%;
    }
}
