header {
    height: 100vh;
    background: #29a6dc;
    position: relative;
    color: white;
    text-transform: uppercase;
}

header .welcome {
    position: absolute;
    left: 7%;
    z-index: 20;
    top: 17%;
}

header .main-title {
    font-size: 90px;
}

header .title {
    font-size: 50px;
    text-align: left;
}

header img {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100vh;
}

header button {
    padding: 20px 70px;
    color: white;
    margin-top: 20px;
}

header button:hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width: 1000px) {
    header .welcome {
        margin: 0 auto;
        top: 5%;
        width: 80%;
        text-align: center;
    }
    header .title {
        font-size: 40px;
        text-align: center;
    }

    header .main-title {
        font-size: 70px;
    }

    header img {
        width: 100vw;
        min-height: 50vh;
        left: 50%;
        transform:translateX(-50%)
    }
}
