@import url('https://fonts.googleapis.com/css2?:wght@300&family=Saira+Condensed:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
}

body {
    width: 100vw;   
    overflow-x: hidden;
}

section {
    min-height: 80vh;
    padding: 7vh 2vw 10vh 2vw;
}

section .title,
footer .title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 7vh;
}

button {
    outline: none;
    text-transform: uppercase;
    transition: .4s;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

    section .title,
    footer .title {
        font-size: 40px;
    }
}